@use 'variables';

@function size-title($size){
    @return $size * variables.$size-tittle;
}

@mixin font-size-subtitles($size){
    @if($size==medium){
        font-size: 35px;
    }@else if (size==small){
        font-size: 15px                                                               ;
    }
}



body{
    background-color: variables.$primary-color;  
}

h1{
   font-size: size-title(10);
}

h2{
    @include font-size-subtitles(medium);

}
h3{
    @include font-size-subtitles(small);

} 

//En caso de uso de margenes
$max-margin:10;
.margin{
    @for $i from 1 to $max-margin{
        .margin-#{$i}{
            margin: $i * 18px;
        }
    }
}

.container{
    background-color: #ffffff;
    margin: 100px;
    width: 80%;
   // background-image: (); NOMBRE DE LA IMAGEN QUE NO LO TENGO
}
.item-buy{
    ul{
        li{
            align-items: flex-start;
            a{
                
                i{
                    border-radius: 3em;
                    border-radius: 4px;
background: #e0e0e0;
box-shadow:  12px 12px 24px #bebebe,
             -12px -12px 24px #ffffff;
                }

            }
        }
    }
}

%button{
    padding: 10px 15px 10px 15px ;
    font-family: 'Arial';

    border-radius: 17px;
box-shadow:  5px 5px 10px #bebebe,
             -5px -5px 10px #ffffff;
    
}

.button-menu{
    @extend %button;
    background-color: #cf7d7d;
}
.button-book{
    @extend %button;
    background-color: #ffffff;
}




