body {
  background-color: #ffffff;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

.margin .margin-1 {
  margin: 18px;
}
.margin .margin-2 {
  margin: 36px;
}
.margin .margin-3 {
  margin: 54px;
}
.margin .margin-4 {
  margin: 72px;
}
.margin .margin-5 {
  margin: 90px;
}
.margin .margin-6 {
  margin: 108px;
}
.margin .margin-7 {
  margin: 126px;
}
.margin .margin-8 {
  margin: 144px;
}
.margin .margin-9 {
  margin: 162px;
}

.container {
  background-color: #ffffff;
  margin: 100px;
  width: 80%;
}

.item-buy ul li {
  align-items: flex-start;
}
.item-buy ul li a i {
  border-radius: 3em;
  border-radius: 4px;
  background: #e0e0e0;
  box-shadow: 12px 12px 24px #bebebe, -12px -12px 24px #ffffff;
}

.button-book, .button-menu {
  padding: 10px 15px 10px 15px;
  font-family: "Arial";
  border-radius: 17px;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}

.button-menu {
  background-color: #cf7d7d;
}

.button-book {
  background-color: #ffffff;
}

/*# sourceMappingURL=practica.css.map */
